# H-2A & H-2B Guest Worker Program 2015-2022 Q2

What I am interested in these datasets is the number of visias issued for the guest worker program in the US from 2015 to 2022. The copilation of data starts with the most current year and will go backwards to get a historical perspective.

In [1]:
import pandas as pd

## 2022 (current year)
I'm startig by analysing the current year, and working my way backwards to the other years.

In [2]:
# These are the first two quarters of data availble from the department of labor for
#the year 2022

df_h2a_q1 = pd.read_excel ("data/H-2A_Disclosure_Data_FY2022_Q1.xlsx")

In [3]:
df_h2a_q1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2995 entries, 0 to 2994
Columns: 139 entries, CASE_NUMBER to TOTAL_ADDENDUM_A_RECORDS
dtypes: datetime64[ns](6), float64(19), int64(11), object(103)
memory usage: 3.2+ MB

In [4]:
df_h2a_q2 = pd.read_excel ("data/H-2A_Disclosure_Data_FY2022_Q2.xlsx")

df_h2a_q2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12326 entries, 0 to 12325
Columns: 139 entries, CASE_NUMBER to TOTAL_ADDENDUM_A_RECORDS
dtypes: datetime64[ns](4), float64(18), int64(11), object(106)
memory usage: 13.1+ MB

In [5]:
# Lets combine them 
h2a_visas_22 = [df_h2a_q1, df_h2a_q2]

h2a_visas_issued_2022 = pd.concat(h2a_visas_22)

h2a_visas_issued_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15321 entries, 0 to 12325
Columns: 140 entries, CASE_NUMBER to ATTORNEY_AGENT_EMAIL
dtypes: datetime64[ns](4), float64(18), int64(11), object(107)
memory usage: 16.5+ MB

In [6]:
2995+12326

15321

In [7]:
h2a_visas_issued_2022.head(10)

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,TYPE_OF_EMPLOYER_APPLICATION,H2A_LABOR_CONTRACTOR,NATURE_OF_TEMPORARY_NEED,EMERGENCY_FILING,EMPLOYER_NAME,TRADE_NAME_DBA,...,MEALS_PROVIDED,MEALS_CHARGE,MEAL_REIMBURSEMENT_MINIMUM,MEAL_REIMBURSEMENT_MAXIMUM,PHONE_TO_APPLY,EMAIL_TO_APPLY,WEBSITE_TO_APPLY,ADDENDUM_C_ATTACHED,TOTAL_ADDENDUM_A_RECORDS,ATTORNEY_AGENT_EMAIL
0,H-300-21264-596831,Determination Issued - Certification,2021-09-24 13:53:39.340,2021-10-01,Association - Joint Employer,N,Seasonal,N,WESTERN RANGE ASSOCIATION,NaN,...,N,NaN,13.17,55.0,12085952226,applicants@westernrange.net,NaN,Y,0,NaN
1,H-300-21265-600239,Determination Issued - Certification,2021-09-24 12:39:42.790,2021-10-01,Association - Joint Employer,N,Seasonal,N,WESTERN RANGE ASSOCIATION,NaN,...,N,NaN,13.17,55.0,12085952226,applicants@westernrange.net,NaN,Y,0,NaN
2,H-300-21265-599680,Determination Issued - Certification,2021-09-24 11:49:19.650,2021-10-01,Association - Joint Employer,N,Seasonal,N,WESTERN RANGE ASSOCIATION,NaN,...,N,NaN,13.17,55.0,12085952226,applicants@westernrange.net,NaN,Y,0,NaN
3,H-300-21258-584988,Determination Issued - Certification,2021-09-24 09:24:29.280,2021-10-01,Individual Employer,Y,Seasonal,N,"PJ's Harvesting, LLC.",NaN,...,N,NaN,13.17,55.0,18132994889,jarhead6868@gmail.com,NaN,Y,2,NaN
4,H-300-21264-596931,Determination Issued - Certification,2021-09-23 10:01:35.160,2021-10-01,Association - Joint Employer,N,Seasonal,N,WESTERN RANGE ASSOCIATION,NaN,...,N,NaN,13.17,55.0,12085952226,applicants@westernrange.net,NaN,Y,0,NaN
5,H-300-21260-591173,Determination Issued - Certification,2021-09-22 12:07:16.620,2021-10-01,Individual Employer,N,Seasonal,N,Hearn Cattle Co.,NaN,...,N,NaN,13.17,55.0,16205464652,hearncattle@gmail.com,NaN,N,0,NaN
6,H-300-21264-596416,Determination Issued - Certification,2021-09-21 12:50:50.570,2021-10-01,Individual Employer,N,Seasonal,Y,Tri County Gin,NaN,...,N,NaN,13.17,55.0,19123812172,kaylon.tricountygin@gmail.com,NaN,Y,0,NaN
7,H-300-21260-590209,Determination Issued - Certification,2021-09-21 08:35:09.730,2021-10-01,Individual Employer,N,Seasonal,N,Bebb Farms,NaN,...,N,NaN,13.17,55.0,16204239318,bebbfarms@yahoo.com,NaN,N,0,NaN
8,H-300-21258-585783,Determination Issued - Certification,2021-09-17 17:32:18.240,2021-10-01,Individual Employer,Y,Seasonal,N,"Triple M Fruit Co., Inc.",NaN,...,N,NaN,13.17,55.0,18636763322,liz@emmettfarms.com,NaN,Y,3,NaN
9,H-300-21259-588893,Determination Issued - Certification,2021-09-16 17:32:49.720,2021-10-01,Association - Agent,N,Seasonal,N,LLB Ranch LTD,NaN,...,N,NaN,13.17,55.0,13074722105,bookkeeper@mpaswy.com,NaN,Y,0,NaN

In [8]:
# I need the three columns with the number of visas needed, requested and certified for the year so far.
# Removing all other columns and only keeping the three that I need.
h2a_cols_to_keep = ['TOTAL_WORKERS_NEEDED','TOTAL_WORKERS_H2A_REQUESTED', 'TOTAL_WORKERS_H2A_CERTIFIED']

h2a_cols_to_keep

['TOTAL_WORKERS_NEEDED',
 'TOTAL_WORKERS_H2A_REQUESTED',
 'TOTAL_WORKERS_H2A_CERTIFIED']

In [9]:
#Isolating the columns

h2a_visas_issued_2022 = h2a_visas_issued_2022.reindex(h2a_cols_to_keep, axis=1)

In [10]:
h2a_visas_issued_2022

,TOTAL_WORKERS_NEEDED,TOTAL_WORKERS_H2A_REQUESTED,TOTAL_WORKERS_H2A_CERTIFIED
0,1,1,1
1,2,2,2
2,9,9,9
3,44,44,44
4,10,10,10
...,...,...,...
12321,35,35,0
12322,4,4,4
12323,6,6,0
12324,2,2,0
12325,30,30,0

## Totals so far for 2022
These are the total numbers of visas requested and certified for 2022 so far. The first two quarters of data were
combined in order to get the numbers so far.

In [11]:
h2a_visas_issued_2022.sum(axis=0)

TOTAL_WORKERS_NEEDED           310835
TOTAL_WORKERS_H2A_REQUESTED    254466
TOTAL_WORKERS_H2A_CERTIFIED    244880
dtype: int64

# H2B visas for 2022 year

Next are the h2b visas for 2022 as reported in the first and second quareter of data published by the Department of Labor.

In [12]:
df_h2b_q1 = pd.read_excel ("data/H-2B_Disclosure_Data_FY2022_Q1.xlsx")
df_h2b_q2 = pd.read_excel ("data/H-2B_Disclosure_Data_FY2022_Q2.xlsx")

In [13]:
# Lets combine them 
h2b_visas_22 = [df_h2b_q1, df_h2b_q2]

h2b_visas_issued_2022 = pd.concat(h2b_visas_22)

h2b_visas_issued_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8358 entries, 0 to 7260
Columns: 116 entries, CASE_NUMBER to 3RD_PWD_CASE_NUMBER
dtypes: datetime64[ns](7), float64(15), int64(5), object(89)
memory usage: 7.5+ MB

In [14]:
h2b_visas_issued_2022.head(10)

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,CAP_EXEMPT,JOB_TITLE,SOC_CODE,SOC_TITLE,TOTAL_WORKERS_REQUESTED,TOTAL_WORKERS_CERTIFIED,...,EMPLOYER_APPENDIX_B_ATTACHED,EMP_CLIENT_APPENDIX_B_ATTACHED,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_NAME,PREPARER_BUSINESS_NAME,PREPARER_EMAIL,1ST_PWD_CASE_NUMBER,2ND_PWD_CASE_NUMBER,3RD_PWD_CASE_NUMBER
0,H-400-21252-572600,Determination Issued - Certification,2021-09-08 21:15:14.390,2021-10-01,Y,Child Care Teacher,39-9011.00,Childcare Workers,9,9,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H-400-21252-572580,Determination Issued - Certification,2021-09-08 21:02:46.960,2021-10-01,Y,Housekeeper,37-2012.00,Maids and Housekeeping Cleaners,53,53,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H-400-21252-572545,Determination Issued - Certification,2021-09-08 20:40:41.090,2021-10-01,N,Helpers-Maintenance,49-9098.00,"Helpers--Installation, Maintenance, and Repair...",35,35,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H-400-21252-572520,Determination Issued - Certification,2021-09-08 20:27:01.170,2021-10-01,N,Helpers-Maintenance,49-9098.00,"Helpers--Installation, Maintenance, and Repair...",25,25,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H-400-21251-572465,Determination Issued - Certification,2021-09-08 19:51:37.970,2021-10-01,Y,Special Events Houseman,35-9011.00,Dining Room and Cafeteria Attendants and Barte...,10,10,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,H-400-21251-572444,Determination Issued - Certification,2021-09-08 19:43:24.060,2021-10-01,N,Forestry Worker,45-4011.00,Forest and Conservation Workers,75,75,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,H-400-21251-572384,Determination Issued - Certification,2021-09-08 18:57:12.600,2021-10-01,Y,Housekeeper,37-2012.00,Maids and Housekeeping Cleaners,8,8,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,H-400-21251-571946,Determination Issued - Certification,2021-09-08 16:57:34.950,2021-10-01,N,Helpers-Maintenance,49-9098.00,"Helpers--Installation, Maintenance, and Repair...",26,26,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,H-400-21251-571808,Determination Issued - Certification,2021-09-08 16:32:02.550,2021-10-01,Y,Lead Cook,35-2014.00,"Cooks, Restaurant",6,6,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,H-400-21251-571710,Determination Issued - Certification,2021-09-08 16:12:09.300,2021-10-01,N,Carnival Worker,39-3091.00,Amusement and Recreation Attendants,15,15,...,Y,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# I need only two columns for this dataset. It does not have a "needed" column for some reason like the h2a dataset had.

h2b_cols_to_keep = ['TOTAL_WORKERS_REQUESTED', 'TOTAL_WORKERS_CERTIFIED']

h2b_cols_to_keep

['TOTAL_WORKERS_REQUESTED', 'TOTAL_WORKERS_CERTIFIED']

In [16]:
#Isolate the 2 columns that I need:

h2b_visas_issued_2022 = h2b_visas_issued_2022.reindex(h2b_cols_to_keep, axis=1)

h2b_visas_issued_2022

      TOTAL_WORKERS_REQUESTED  TOTAL_WORKERS_CERTIFIED
0                           9                        9
1                          53                       53
2                          35                       35
3                          25                       25
4                          10                       10
...                       ...                      ...
7256                       20                       20
7257                        6                        6
7258                       30                       30
7259                       20                       20
7260                       10                        0

[8358 rows x 2 columns]

## Totals so far for 2022
These are the total numbers of visas requested and certified for 2022 so far. The first two quarters of data were
combined in order to get the numbers so far.

In [17]:
h2b_visas_issued_2022.sum(axis=0)

TOTAL_WORKERS_REQUESTED    164821
TOTAL_WORKERS_CERTIFIED    132686
dtype: int64

# 2021

## H-2A Visas

In [18]:
h2a_2021 = pd.read_excel ("data/H-2A_Disclosure_Data_FY2021.xlsx")

In [19]:
h2a_2021.head(5)

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,TYPE_OF_EMPLOYER_APPLICATION,H2A_LABOR_CONTRACTOR,NATURE_OF_TEMPORARY_NEED,EMERGENCY_FILING,EMPLOYER_NAME,TRADE_NAME_DBA,...,TOTAL_HOUSING_RECORDS,MEALS_PROVIDED,MEALS_CHARGE,MEAL_REIMBURSEMENT_MINIMUM,MEAL_REIMBURSEMENT_MAXIMUM,PHONE_TO_APPLY,EMAIL_TO_APPLY,WEBSITE_TO_APPLY,ADDENDUM_C_ATTACHED,TOTAL_ADDENDUM_A_RECORDS
0,H-300-21109-235767,Determination Issued - Certification,2021-04-22 18:01:21.650,2021-05-28,Individual Employer,N,Seasonal,N,"La Hacienda Citrus, Inc.",NaN,...,1,N,NaN,13.17,55.0,17873742097,agrortoledo@gmail.com,NaN,Y,0
1,H-300-21113-254532,Determination Issued - Certification,2021-05-07 14:22:53.220,2021-06-11,Individual Employer,N,Seasonal,N,"Hacienda Ramirez, Inc.",NaN,...,1,N,NaN,13.17,55.0,17874853338,r.ramirezfont@hotmail.com,NaN,Y,0
2,H-300-21137-318304,Determination Issued - Certification,2021-05-31 15:37:19.440,2021-06-16,Joint Employer,N,Seasonal,N,"Hacienda Los Eucaliptos, Inc.",NaN,...,2,N,NaN,13.17,55.0,17876802205,jtorresgroup@gmail.com,NaN,Y,0
3,H-300-21144-339364,Determination Issued - Certification,2021-06-09 17:00:20.530,2021-06-22,Joint Employer,N,Seasonal,N,Yomar Ramos-Gonzalez,NaN,...,1,N,NaN,13.17,55.0,17874875024,yrg8128@gmail.com,NaN,Y,0
4,H-300-21166-400271,Determination Issued - Certification,2021-06-28 09:25:34.330,2021-07-16,Individual Employer,N,Seasonal,N,Roberto Atienza-Figueroa,Hacienda San Pedro,...,1,N,NaN,13.17,55.0,17873152083,atienzahsp@gmail.com,https://www.cafehsp.com/,Y,0

In [20]:
h2a_2021_cols_to_keep = ['TOTAL_WORKERS_NEEDED','TOTAL_WORKERS_H2A_REQUESTED', 'TOTAL_WORKERS_H2A_CERTIFIED']

h2a_2021_cols_to_keep

['TOTAL_WORKERS_NEEDED',
 'TOTAL_WORKERS_H2A_REQUESTED',
 'TOTAL_WORKERS_H2A_CERTIFIED']

In [21]:
#Isolating the columns
h2a_2021 = h2a_2021.reindex(h2a_2021_cols_to_keep, axis=1)

h2a_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16334 entries, 0 to 16333
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   TOTAL_WORKERS_NEEDED         16334 non-null  int64
 1   TOTAL_WORKERS_H2A_REQUESTED  16334 non-null  int64
 2   TOTAL_WORKERS_H2A_CERTIFIED  15619 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 383.0 KB

In [22]:
import numpy as np
h2a_2021['TOTAL_WORKERS_H2A_CERTIFIED'] = h2a_2021['TOTAL_WORKERS_H2A_CERTIFIED'].fillna(0).astype(int)

In [23]:
h2a_2021.sample(15)

,TOTAL_WORKERS_NEEDED,TOTAL_WORKERS_H2A_REQUESTED,TOTAL_WORKERS_H2A_CERTIFIED
7163,5,5,5
6199,1,1,1
15107,2,2,2
13207,34,34,34
7639,2,2,2
6721,4,4,4
16279,1,1,1
4662,60,60,60
713,48,30,30
15681,1,1,0
15010,1,1,1
4461,37,37,37
10372,14,14,14
2047,16,14,14
5820,32,32,24

### 2021 Total Numbers
These are the total number of visas needed, requested, and certified for the year 2021.

In [24]:
h2a_2021.sum(axis=0)

TOTAL_WORKERS_NEEDED           411339
TOTAL_WORKERS_H2A_REQUESTED    330486
TOTAL_WORKERS_H2A_CERTIFIED    317619
dtype: int64

## H-2B Visas

In [25]:
h2b_2021 = pd.read_excel ("data/H-2B_Disclosure_Data_FY2021.xlsx")
h2b_2021.head(5)

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,CAP_EXEMPT,JOB_TITLE,SOC_CODE,SOC_TITLE,TOTAL_WORKERS_REQUESTED,TOTAL_WORKERS_CERTIFIED,...,TYPE_OF_EMPLOYER,APPENDIX_D_COMPLETED,FOREIGN_LABOR_RECRUITER,EMPLOYER_APPENDIX_B_ATTACHED,EMP_CLIENT_APPENDIX_B_ATTACHED,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_NAME,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,H-400-20196-713765,Determination Issued - Certification,2020-07-14 15:55:07.920,2020-10-01,N,LANDSCAPING AND GROUNDSKEEPING WORKERS,37-3011.00,Landscaping and Groundskeeping Workers,10,10.0,...,Individual Employer,N,N,Y,N,NaN,NaN,NaN,NaN,NaN
1,H-400-20217-750776,Determination Issued - Certification,2020-08-04 13:54:52.330,2020-10-01,N,OYSTER PLANT WORKER,45-2041.00,"Graders and Sorters, Agricultural Products",40,40.0,...,Individual Employer,N,N,Y,N,NaN,NaN,NaN,NaN,NaN
2,H-400-20218-753285,Determination Issued - Certification,2020-08-05 16:26:10.400,2020-10-01,N,Forest Workers,45-4011.00,Forest and Conservation Workers,60,60.0,...,Individual Employer,N,Y,Y,N,NaN,NaN,NaN,NaN,NaN
3,H-400-20224-762279,Determination Issued - Certification,2020-08-11 13:28:11.240,2020-10-01,N,Groundskeeping Worker,37-3011.00,Landscaping and Groundskeeping Workers,6,6.0,...,Individual Employer,N,N,Y,N,NaN,NaN,NaN,NaN,NaN
4,H-400-20224-762862,Determination Issued - Certification,2020-08-11 16:06:40.630,2020-10-01,N,Cook,35-2014.00,"Cooks, Restaurant",4,4.0,...,Individual Employer,N,N,Y,N,NaN,NaN,NaN,NaN,NaN

In [26]:
h2b_2021_cols_to_keep = ['TOTAL_WORKERS_REQUESTED', 'TOTAL_WORKERS_CERTIFIED']

h2b_2021_cols_to_keep

['TOTAL_WORKERS_REQUESTED', 'TOTAL_WORKERS_CERTIFIED']

In [27]:
#Isolating the columns
h2b_2021 = h2b_2021.reindex(h2b_2021_cols_to_keep, axis=1)

h2b_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9798 entries, 0 to 9797
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TOTAL_WORKERS_REQUESTED  9798 non-null   int64
 1   TOTAL_WORKERS_CERTIFIED  8479 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 153.2 KB

In [28]:
# Converting float to int.

h2b_2021['TOTAL_WORKERS_CERTIFIED'] = h2b_2021['TOTAL_WORKERS_CERTIFIED'].fillna(0).astype(int)

h2b_2021.head(5)

   TOTAL_WORKERS_REQUESTED  TOTAL_WORKERS_CERTIFIED
0                       10                       10
1                       40                       40
2                       60                       60
3                        6                        6
4                        4                        4

### 2021 Total Numbers
These are the total number of visas needed, requested, and certified for the year 2021.

In [29]:
h2b_2021.sum(axis=0)

TOTAL_WORKERS_REQUESTED    206011
TOTAL_WORKERS_CERTIFIED    181451
dtype: int64

 # 2020

## H-2A & H-2B Visas
Attempting to do this at once... let see if we can.

In [30]:
h2a_2020 = pd.read_excel ("data/H-2A_Disclosure_Data_FY2020.xlsx")
h2b_2020 = pd.read_excel ("data/H-2B_Disclosure_Data_FY2020.xlsx")

In [31]:
h2a_2020_cols_to_keep = ['TOTAL_WORKERS_NEEDED','TOTAL_WORKERS_H2A_REQUESTED', 'TOTAL_WORKERS_H2A_CERTIFIED']

h2a_2020 = h2a_2020.reindex(h2a_2020_cols_to_keep, axis=1)

h2a_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14063 entries, 0 to 14062
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   TOTAL_WORKERS_NEEDED         13439 non-null  float64
 1   TOTAL_WORKERS_H2A_REQUESTED  14063 non-null  int64
 2   TOTAL_WORKERS_H2A_CERTIFIED  13574 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 329.7 KB

In [32]:
h2a_2020.sample(10)

,TOTAL_WORKERS_NEEDED,TOTAL_WORKERS_H2A_REQUESTED,TOTAL_WORKERS_H2A_CERTIFIED
7603,2.0,2,2.0
11737,2.0,2,2.0
8096,4.0,4,4.0
6363,2.0,2,2.0
7804,3.0,3,3.0
12123,1.0,1,1.0
9603,3.0,3,3.0
12887,3.0,3,3.0
12114,11.0,9,9.0
12970,3.0,3,3.0

In [33]:
# Converting float to int 1st column::
h2a_2020['TOTAL_WORKERS_NEEDED'] = h2a_2020['TOTAL_WORKERS_NEEDED'].fillna(0).astype(int)

# Converting float to int 2st column:
h2a_2020['TOTAL_WORKERS_H2A_CERTIFIED'] = h2a_2020['TOTAL_WORKERS_H2A_CERTIFIED'].fillna(0).astype(int)

h2a_2020.head(5)

,TOTAL_WORKERS_NEEDED,TOTAL_WORKERS_H2A_REQUESTED,TOTAL_WORKERS_H2A_CERTIFIED
0,14,14,14
1,1,1,1
2,3,3,3
3,2,2,2
4,2,2,0

### 2020 Total Numbers
These are the total number of visas needed, requested, and certified for the year 2020.

In [34]:
h2a_2020.sum(axis=0)

TOTAL_WORKERS_NEEDED           314028
TOTAL_WORKERS_H2A_REQUESTED    286749
TOTAL_WORKERS_H2A_CERTIFIED    275430
dtype: int64

## H-2B

In [35]:

h2b_2020_cols_to_keep = ['TOTAL_WORKERS_REQUESTED', 'TOTAL_WORKERS_CERTIFIED']
h2b_2020 = h2b_2020.reindex(h2b_2020_cols_to_keep, axis=1)

h2b_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9401 entries, 0 to 9400
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TOTAL_WORKERS_REQUESTED  9401 non-null   int64
 1   TOTAL_WORKERS_CERTIFIED  8056 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 147.0 KB

In [36]:
# Converting float to int 1st column::
h2b_2020['TOTAL_WORKERS_CERTIFIED'] = h2b_2020['TOTAL_WORKERS_CERTIFIED'].fillna(0).astype(int)

### 2020 Total Numbers
These are the total number of visas requested, and certified for the year 2020.

In [37]:
h2b_2020.sum(axis=0)

TOTAL_WORKERS_REQUESTED    188564
TOTAL_WORKERS_CERTIFIED    160557
dtype: int64

## 2019, 2018, 2017, 2016, 2015

In [42]:
col_list = ["NBR_WORKERS_REQUESTED", "NBR_WORKERS_CERTIFIED"]

# 2019
h2a_2019 = pd.read_excel ("data/H-2A_Disclosure_Data_FY2019.xlsx", usecols=col_list)
h2b_2019 = pd.read_excel ("data/H-2B_Disclosure_Data_FY2019.xlsx", usecols=col_list)

#2018
h2a_2018 = pd.read_excel ("data/H-2A_Disclosure_Data_FY2018.xlsx", usecols=col_list)
h2b_2018 = pd.read_excel ("data/H-2B_Disclosure_Data_FY2018.xlsx", usecols=col_list)

#2017
h2a_2017 = pd.read_excel ("data/H-2A_Disclosure_Data_FY2017.xlsx", usecols=col_list)
h2b_2017 = pd.read_excel ("data/H-2B_Disclosure_Data_FY2017.xlsx", usecols=col_list)

#2016
h2a_2016 = pd.read_excel ("data/H-2A_Disclosure_Data_FY2016.xlsx", usecols=col_list)
h2b_2016 = pd.read_excel ("data/H-2B_Disclosure_Data_FY2016.xlsx", usecols=col_list)

#2015
h2a_2015 = pd.read_excel ("data/H-2A_Disclosure_Data_FY2015.xlsx", usecols=col_list)
h2b_2015 = pd.read_excel ("data/H-2B_Disclosure_Data_FY2015.xlsx", usecols=col_list)

In [43]:
# The two column names that I need for both h2a and h2b are the sames name for all these sets.
# they are: "YEAR", "NBR_WORKERS_REQUESTED", "NBR_WORKERS_CERTIFIED"
# Found info using the .info on the df

#I'm going to append a year column to all the dfs so we can combined them into 1
h2a_2019.insert(loc=0, column="YEAR", value="2019")
h2b_2019.insert(loc=0, column="YEAR", value="2019")

#2018
h2a_2018.insert(loc=0, column="YEAR", value="2018") 
h2b_2018.insert(loc=0, column="YEAR", value="2018")

#2017
h2a_2017.insert(loc=0, column="YEAR", value="2017")
h2b_2017.insert(loc=0, column="YEAR", value="2017")

#2016
h2a_2016.insert(loc=0, column="YEAR", value="2016")
h2b_2016.insert(loc=0, column="YEAR", value="2016")

#2015
h2a_2015.insert(loc=0, column="YEAR", value="2016")
h2b_2015.insert(loc=0, column="YEAR", value="2016")

In [76]:
# combining all the h2a and h2b data
h2a_2015to2019 = pd.concat([h2a_2015, h2a_2016, h2a_2017, h2a_2018, h2a_2019], ignore_index=True)
h2b_2015to2019 = pd.concat([h2b_2015, h2b_2016, h2b_2017, h2b_2018, h2b_2019], ignore_index=True)

# Converting float to int 1st column::
h2a_2015to2019['NBR_WORKERS_REQUESTED'] = h2a_2015to2019['NBR_WORKERS_REQUESTED'].fillna(0).astype(int)
h2a_2015to2019['NBR_WORKERS_CERTIFIED'] = h2a_2015to2019['NBR_WORKERS_CERTIFIED'].fillna(0).astype(int)

h2b_2015to2019['NBR_WORKERS_REQUESTED'] = h2b_2015to2019['NBR_WORKERS_REQUESTED'].fillna(0).astype(int)
h2b_2015to2019['NBR_WORKERS_CERTIFIED'] = h2b_2015to2019['NBR_WORKERS_CERTIFIED'].fillna(0).astype(int)

In [74]:
h2a_2015to2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65195 entries, 0 to 65194
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YEAR                   65195 non-null  object
 1   NBR_WORKERS_REQUESTED  65195 non-null  int64
 2   NBR_WORKERS_CERTIFIED  65195 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

In [77]:
h2b_2015to2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40838 entries, 0 to 40837
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YEAR                   40838 non-null  object
 1   NBR_WORKERS_REQUESTED  40838 non-null  int64
 2   NBR_WORKERS_CERTIFIED  40838 non-null  int64
dtypes: int64(2), object(1)
memory usage: 957.3+ KB